.graph-tip
  display none
  position absolute
  z-index 2
  width 260px
  padding-bottom 23px
  &.active
    display block
  .content
    min-height 60px
    padding 10px 15px
    border 1px solid #4
    background rgba(255,255,255,0.95)
    border-radius 2px
  .arrow
    position absolute
    left 0px
    margin-left 50%
    bottom 14px
    triangle(18px,10px,'bottom',#4)
    transform translate(-50%,0)
    &:before
      content ""
      position absolute
      left -9px
      top -11px
      background red
      triangle(18px,10px,'bottom',#fff)
