@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
  @import GraphTip
  @import StorySelector
.ig
  font-family 'Roboto', sans-serif
  min-width 1000px
  .graph-container
    position absolute
    top 150px
    left 0px
    bottom 5px
    min-width 1000px - 330px
    width calc(100% \- 330px)
    background white
    svg
      position absolute
      top 0px
      left 0px
      g.line
        opacity 1
        path.line
          stroke-width 2
          fill none
        g.point path
          transform scale(1)
          transition transform 0.2s
        &.downlight
          path.line
            stroke-width 1
            opacity 0.8
          g.point path
            opacity 0.5
            transform scale(0.6)
        &.active
          opacity 1
          path.line
            stroke-width 4
            opacity 1
          g.point path
            stroke-width 2
            opacity 1
            fill white
            transform scale(1.2)
          g.point.active path
            transform scale(1.8)

    svg.voronoi
      z-index 3
      path
        fill transparent
        cursor pointer
        &.no-subs
          cursor not-allowed
      .axis
        font-variant small-caps
        font-size 1.2em
        font-weight 300
        line
          stroke #6
        path
          fill #a
        text
          fill #0
  form.switcher
    ul
      position absolute
      top 15px - 150px
      right -330px
      // width 330px
      margin 0px
      padding 0px
      padding-left 20px
      list-style-type none
      li
        float left
        input
          visibility hidden
          position absolute
          left -5000px
        label
          background lighten(ColorHeadingLink, 98%)
          color darken(ColorHeadingLink, 90%)
          border 1px solid ColorHeadingLink
          padding 5px 10px
        &:first-child label
          border-top-left-radius 5px
          border-bottom-left-radius 5px
        &:last-child label
          border-top-right-radius 5px
          border-bottom-right-radius 5px
        input:checked + label
          background ColorHeadingLink
          box-shadow 0px 0px 5px ColorHeadingLink
          color white
        label:hover
          background lighten(ColorHeadingLink, 94%)
          box-shadow 0px 0px 2px ColorHeadingLink
          cursor pointer

  div.legend
    position absolute
    width 330px
    top -30px
    bottom 0px
    overflow auto
    right -330px
    padding 10px 10px 0px 20px
    ul
      margin 0px
      padding 0px
      list-style-type none
      clear left
      li
        position relative
        padding-left 20px
        margin-bottom 8px
        cursor pointer
        &:hover
          text-decoration underline
          &:after
            visibility hidden
        &.no-subs
          cursor not-allowed
          &:hover
            text-decoration none
        .line-stub
          position absolute
          top 50%
          left 0px
          width 13px
          margin-top -1px
          height 3px
        &[data-tooltip]
          &:hover
            cursor help
          &:after
            content "?"
            padding-left 10px
            font-size 10px
            position relative
            top -2px

    h3
      margin 4px 0px 8px 0px
      float left
      width 100%
      .content
        font-size 16px
        display block
        width auto
        max-width 200px
        float left
        overflow hidden
        white-space nowrap
        text-overflow ellipsis
      .back
        float left
        display block
        position relative
        top -1px
        font-weight normal
        margin-left 1.8em
        font-size 12px
        text-transform uppercase
        text-decoration underline
        background ColorHeadingLink
        border-radius 3px
        padding 3px 9px
        color white
        &:hover
          text-decoration none
          background lighten(ColorHeadingLink, 8%)
          cursor pointer
        &:active
          background lighten(ColorHeadingLink, 16%)

    &.highlighted
      li
        color #a
        &.highlight
          color black
          font-weight bold
    &.first-level
      h3 .back
        display none
  .year-highlight
    position absolute
    top 10px
    left 0px
    bottom 40px
    width 0px
    margin-left 150px
    background lighten(ColorHeadingLink, 90%)
    transition left 0.6s, width 0.6s, transform 0.6s
    transform scale(1)
    &.disabled
      transform scale(0)

