.story-selector
  position absolute
  top 0px
  left 0px
  height 150px
  min-width 1000px - 270px
  width calc(100% \- 330px)
  overflow hidden
  .items
    position absolute
    top 20px
    transition left 0.6s
    .item
      float left
      padding-left 30px
      padding-right 50px
      h2
        margin 0px
      p
        margin 10px 0px 0px 0px
  a
    display block
    position absolute
    top 0px
    right 0px
    font-size 80px
    height @height
    line-height 70px
    width 40px
    text-align center
    text-shadow 0px 0px 10px lighten(ColorHeading, 50%)
    text-decoration none
    color ColorHeading
    &:hover
      color lighten(ColorHeading, 30%)
    &.left
      right auto
      top 3px
      left 5px
      text-align left
      color #d
      text-shadow none
      font-size 55px
      &:hover
        color #a
  ul.points
    position absolute
    top 5px
    left 30px
    margin 0px
    padding 0px
    list-style-type none
    li
      float left
      width 20px
      height 4px
      background ColorHeadingLink
      margin-right 3px
      transform skew(-30deg, 0deg)
      &.active
        background ColorHeading
      &:hover
        cursor pointer
        background ColorHeading

